@model WebApplication3.Models.Reportz

@{
    ViewData["Title"] = "Details";
}

    <div class="container form-b bShadow bShadow-62 animate__animated animate__fadeInDown">
        <div class="row d-flex justify-content-center mb-5">

        </div>
        <div class="row d-flex justify-content-center">
            <div class="container">
                <table class="table table-striped table-bordered mt-4 mb-5">
                    <thead>
                        <tr>
                            <th scope="col">الحالة</th>
                            @*<th scope="col">معرف حساب منشئ البلاغ</th>*@
                            <th scope="col">الموضوع</th>
                            <th scope="col">نص البلاغ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>@Html.DisplayFor(model => model.Statuez.Name)</th>
                            @*<td>@Html.DisplayFor(model => model.User.Email) </td>*@
                            <td>@Html.DisplayFor(model => model.Topicz)</td>
                            <td>
                                @Html.DisplayFor(model => model.Textz)
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="display: flex; justify-content: center" class="row mt-4 mb-5">
                    <div class="col-md-4">
                        <div class="form-group">
                            <a style="width: 100%" class="btn btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">
                                تعديل      <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <a style="width: 100%" class="btn btn btn-info" asp-action="Index">
                                رجوع      <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<div>
    <a >Edit</a> 
    <a asp-action="Index">Back to List</a>
</div>
